[Unit]
Description=Pi Gateway İBB HKI every 30 minutes

[Timer]
OnBootSec=90s
OnCalendar=*:0/30
Persistent=true
AccuracySec=1min

[Install]
WantedBy=timers.target
