{
  auto_https off
}

(security_headers) {
  header {
    X-Content-Type-Options nosniff
    X-Frame-Options SAMEORIGIN
    Referrer-Policy no-referrer
  }
}

http://gateway.__LAN_DOMAIN__, http://panel.__LAN_DOMAIN__ {
  import security_headers
  __CADDY_BASIC_AUTH__
  reverse_proxy homepage:3000
}

http://status.__LAN_DOMAIN__ {
  import security_headers
  __CADDY_BASIC_AUTH__
  reverse_proxy uptime-kuma:3001
}

http://dns.__LAN_DOMAIN__ {
  import security_headers
  __CADDY_BASIC_AUTH__
  reverse_proxy host.docker.internal:__ADGUARD_WEB_PORT__
}

http://n8n.__LAN_DOMAIN__ {
  import security_headers
  __CADDY_BASIC_AUTH__
  reverse_proxy n8n:5678
}

http://logs.__LAN_DOMAIN__ {
  import security_headers
  __CADDY_BASIC_AUTH__
  reverse_proxy dozzle:8080
}

http://grafana.__LAN_DOMAIN__ {
  import security_headers
  __CADDY_BASIC_AUTH__
  reverse_proxy grafana:3000
}

http://devices.__LAN_DOMAIN__ {
  import security_headers
  reverse_proxy host.docker.internal:__NETALERTX_PORT__ {
    header_up X-Forwarded-Proto {scheme}
    header_up X-Forwarded-Host {host}
  }
}
